
<h1>Messages</h1><br/>
<ul class="list-group">
	<% @friends.each do |friends| %>
  		<li class="list-group-item active"> <%= friends.name %> </li>
  	<% end %>
</ul>

<p> Other User </p>
<ul class="list-group">
	<% @other_users.each do |user2| %>
  		<li class="list-group-item active"> <%= user2.name %> </li>
  	<% end %>
</ul>
