<div class="container">
  <div class="row">


    <div class="col-lg-offset-3 col-lg-6">

   	<table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @user.name %></td>
        <td><%= @user.email %></td>
        <td><%= @user.created_at %></td>
      </tr>

      </tr>
    </tbody>
</table>
    </div>

  </div>
</div>